.our-advantages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .wrapper {
    width: 200px;
    text-align: center;
    padding: 2rem 0;
    img {
      display: block;
      margin: 0 auto;
    }
    p {
      font-size: 18px;
      line-height: 18px;
      font-weight: 700;
      padding: 1.1rem;
      margin: 0;
    }
  }
}
