<div class="container" *ngFor="let portfolio of portfolios; index as idxp">
  <div class="row">
    <div class="col-sm-12">
      <p class="portfolio-block-title" *ngIf="portfolio.items.length > 0">{{portfolio.name}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 portfolio-items">
      <div class="portfolio-item"
           [class.sizeBlockHandset]="isHandset$ | async"
           [class.sizeBlockNoHandset]="isNoHandset$ | async"
           *ngFor="let item of portfolio.items; index as idxi"
           [class.four-item]="idxi <= 3 && idxp == 0"
           [class.two-item]="idxi <= 1 && idxp == 1"
           (click)="onOpenDialog(item, portfolio.items, idxi)"
      >
        <div class="portfolio-item-image">
          <img src="{{baseUrl}}/{{item.image}}" alt="{{item.name}}">
        </div>
        <div class="portfolio-item-description" *ngIf="item.description">
          <p>{{item.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
