<section id="main-lead">
  <app-main-lead></app-main-lead>
</section>
<section id="portfolio">
  <app-portfolio></app-portfolio>
</section>
<mat-divider class="portfolio-divider"></mat-divider>
<section id="services">
  <app-services></app-services>
</section>
<section id="about">
  <app-about></app-about>
</section>
<app-send-message></app-send-message>
<section id="our-advantages">
  <app-our-advantages></app-our-advantages>
</section>
<app-send-message></app-send-message>
<section id="order-execution-scheme">
  <app-order-execution-scheme></app-order-execution-scheme>
</section>
<section id="contacts">
  <app-contacts
    [contact]="contact"
  ></app-contacts>
</section>
<app-footer [contact]="contact"></app-footer>
