<section id="main-lead">
  <app-main-lead></app-main-lead>
</section>
<section id="portfolio">
  <app-portfolio></app-portfolio>
</section>
<section id="services">
  <app-services></app-services>
</section>
<section id="about">
  <app-about></app-about>
</section>
<section id="our-advantages">
  <app-our-advantages></app-our-advantages>
</section>
<section id="order-execution-scheme">
  <app-order-execution-scheme></app-order-execution-scheme>
</section>
<section id="contacts">
  <app-contacts></app-contacts>
</section>
