.list-item, .service-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
mat-divider {
  margin: 2rem 0 0 0;
}
.divider-end {
  border: blue 1px solid;
}
mat-list {
  margin-bottom: 2rem;
}
