<a mat-list-item
   [class.active]="(activeFragment | async)==='portfolio'"
   [routerLink]="['/']"
   fragment="portfolio"
>Портфолио</a>

<a mat-list-item
   [class.active]="(activeFragment | async)==='our-advantages'"
   [routerLink]="['/']"
   fragment="our-advantages"
>Наши преимущества</a>

<a mat-list-item
   [class.active]="(activeFragment | async)==='order-execution-scheme'"
   [routerLink]="['/']"
   fragment="order-execution-scheme"
>Схема исполнения заказа</a>

<a mat-list-item
   [class.active]="(activeFragment | async)==='contacts'"
   [routerLink]="['/']"
   fragment="contacts"
>Обратная связь</a>

